* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
}

/* common css */

.universal-margin {
  margin-left: 100px;
  margin-right: 100px;
}

.universal-padding {
  padding-left: 100px;
  padding-right: 100px;
}
/* header area css */
.header-bg {
  background-image: url(resources/Banner\ Image.png);
  width: 1320px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-bg-gradient {
}

.header-content h1 {
  color: #fff;

  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.header-content h3 {
  text-align: center;

  color: #fff;

  font-family: Merriweather;
  font-size: 32px;

  font-weight: 400;
  margin-bottom: 16px;
}

/* first-hero-section area css */

.first-hero-section {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-hero-section-content {
}

.first-hero-section h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.first-hero-section p {
  color: #f00;
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}

.first-hero-section h3 {
  color: #070211;
  text-align: center;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 48px;
}

/* sec-hero-section area css */

.sec-hero-section {
  background-image: url(resources/Vectorrr.png);
  width: 1320px;
  min-height: 600px;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}

.sec-hero-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
  padding: 0 120px;
  gap: 20px;
}

.sec-hero-section-content {
  /* width: 697px; */
}

.sec-hero-section-content h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.sec-hero-section-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.sec-hero-section-content h3 {
}

.sec-hero-section-btn {
  padding: 18px 30px;
}

.sec-hero-section-img {
  /* width: 319.83px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* third-hero-section */

.third-hero-section {
  width: 1320px;
  min-height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-bottom: 120px;
}

.third-hero-section-content p {
  color: #070211;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.red {
  color: #f00;
}
.third-hero-section-btn {
  text-align: center;
  margin-top: 64px;
}

.btn {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* fourth section area css */

.fourth-hero-section {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}

.new-best-offer h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.new-best-offer h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 22px;
}

.new-best-offer p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.twentyfour h2 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
.twentyfour p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 43px;
}
.twentyfour img {
}

.circle {
  border: #f00 solid 15px;
  padding: 40px;
  border-radius: 100%;
}

.twentyfour {
  margin-left: 100px;
}

/* holiday section area css */

.holiday-section-img {
}
.img-container {
  display: flex;
  justify-content: end;
  margin-bottom: -8px;
}

.img-parrent {
  position: relative;
}

.carpet-img {
  position: relative;
}

.surprise-box {
  position: absolute;
  width: 547px;
  bottom: 100px;
  left: 60px;
}

.cupon {
  position: absolute;
  right: 270px;
  top: 70px;
}

/* fivth section area css */

.fivth-section {
  margin-bottom: 120px;
  margin-top: 120px;
}
.fivth-section-content h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.fivth-section-content h2 {
  margin-top: 16px;
  margin-bottom: 22px;
  font-family: Merriweather;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.fivth-section-content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.fivth-section-img {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fivth-section-img img {
  width: 100%;
}

/* newsletter-section area css */

.newsletter-section {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 120px;
}

.newsletter-section-content h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;

  font-weight: 900;

  text-transform: capitalize;
  margin-top: 40px;
}

.newsletter-section-content p {
  margin-top: 22px;
  margin-bottom: 48px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
}
.newsletter-section-content {
}

.email-input {
  padding: 25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
}

.sub-btn {
  padding: 25px;
  background-color: #f00;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  color: white;
  margin-left: -4px;
}

/* footer area css */

footer {
  background-color: black;
  width: 100%;
  min-height: 600px;
  /* display: flex;
  justify-content: space-between; */
}

.adress-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  padding-bottom: 50px;
}

.address p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.address-contact {
  padding-right: 30px;
}

.address-contact span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: block;
}

.address-contact span svg {
  position: relative;
  top: 6px;
}

/* social icon area css */

.social-icons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* final part area css */

.final-part {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-right: 30px;
}

.final-part p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 120px;
}
/* the end  */
